{% extends 'base.html' %}

{%block conteudo%}

<div class="min-h-[calc(100vh-90px-20vh)] flex items-center">
    <form class="block p-[16px] bg-slate-300  m-auto" method="POST" action="{% url 'register-empresa' %}">

        {% csrf_token %}
    
        <div class="font-bold mb-[20px] text-center">
            CADASTRAR EMPRESA
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="text-center text-red-600 mt-[20px] mb-[20px]" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="mb-[20px]">
            <label for="nome_social" class="block text-[14px] mb-[0.5rem] font-[500] text-gray-900">Nome Social</label>
            <input required class="block outline-none w-[100%] p-[5px] bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500" type="text" name="nome_social" value="{{ request.POST.nome_social }}">
        </div>

        <div class="mb-[20px]">
            <label for="cnpj" class="block text-[14px] mb-[0.5rem] font-[500] text-gray-900">CNPJ</label>
            <input pattern="[0-9]+" title="Apenas Números" required class="block outline-none w-[100%] p-[5px] bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500" type="text" name="cnpj" value="{{ request.POST.cnpj }}">
        </div>

        <div class="mb-[20px]">
            <label for="senha" class="block text-[14px] mb-[0.5rem] font-[500] text-gray-900">Senha</label>
            <input required class="block outline-none w-[100%] p-[5px] bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500" type="password" name="senha" value="{{ request.POST.senha }}">
        </div>

        <div class="mb-[20px]">
            <label for="senha2" class="block text-[14px] mb-[0.5rem] font-[500] text-gray-900">Repetir Senha</label>
            <input required class="block outline-none w-[100%] p-[5px] bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500" type="password" name="senha2" value="{{ request.POST.senha2 }}">
        </div>

        <div class="text-[14px] text-center mb-[20px]">
            Já possui conta? <a class="hover:text-blue-800" href="{% url 'login-empresa' %}">Faça login</a>
        </div>
    
        <button class="block mx-auto text-[14px] font-[500] px-[20px] py-[10px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm w-full sm:w-auto text-center" type="submit">Cadastrar</button>

        <div class="text-[14px] mt-[20px] text-center">
            <a class="hover:text-blue-800" href="{% url 'home' %}">
                Voltar para Home
            </a>
        </div>
       
    
    </form>
</div>

{%endblock%}