{% extends 'base.html' %}

{%block conteudo%}

<div class="min-h-[calc(100vh-90px-20vh)] flex items-center">
    <div class="block p-[16px] bg-slate-300 m-auto max-w-[800px]">

        <div class="font-bold mb-[20px] flex">
            <a class="italic font-bold block hover:text-blue-800" href="{% url 'dashboard-usuario' %}">
                Dashboard
            </a>
            &nbsp;|
            <a class="italic font-bold block hover:text-blue-800 ml-[5px]" href="{% url 'vagas' %}">
                Vagas
            </a>
        </div>

        <div class="font-bold mb-[20px] text-center">
            VAGA - {{ vaga.titulo }}
        </div>

        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Título: 
            </div>
            <div class="ml-[5px]">
                {{ vaga.titulo }}
            </div>
        </div>

        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Categorias: 
            </div>
            <div class="ml-[5px]">
                {% if vaga.categoria.all.count > 0 %}
                    {% for categoria in vaga.categoria.all %}  
                        {% if forloop.first %}
                            {{ categoria }}
                        {% else %}
                            , {{ categoria }}
                        {% endif %}
                    {% endfor %} 
                {% else %}
                    Sem Categoria
                {% endif %}
            </div>
        </div>

        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Descrição: 
            </div>
            <div class="ml-[5px]">
                {{ vaga.descricao }}
            </div>
        </div>

        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Concluída: 
            </div>
            <div class="ml-[5px]">
                {{ vaga.concluida|yesno:"Sim,Não" }}
            </div>
        </div>

        {% if aplicacao is None %}
            <a class="block m-auto w-fit p-4 bg-green-700 text-white rounded-[5em]" href="{% url 'aplicar-em-vaga' vaga.id %}">APLICAR</a>
        {% else %}
            <a class="block m-auto w-fit p-4 bg-red-700 text-white rounded-[5em] mt-[20px]" href="{% url 'desaplicar-em-vaga' vaga.id %}">DESAPLICAR</a>
        {% endif %}

        {% if aplicacao is not None %}
        <div class="font-bold mb-[20px] text-center mt-[20px]">
            APLICAÇÃO:
        </div>
        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Status da aplicação: 
            </div>
            <div class="ml-[5px]">
                {% if aplicacao.status == 'AC' %}
                    Aprovado
                {% elif aplicacao.status == 'RJ' %}
                    Rejeitado
                {% else %}
                    Analisando
                {% endif %}
            </div>
        </div>
        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Resposta da aplicação: 
            </div>
            <div class="ml-[5px]">
                {% if aplicacao.resposta|length > 0 %}
                    {{ aplicacao.resposta }}
                {% else %}
                    Sem Resposta
                {% endif %}
            </div>
        </div>

        {% endif %}

    </div> 
</div>


{%endblock%}