{% extends 'base.html' %}

{%block conteudo%}

<section>
    <div class="absolute top-[calc(50%-90px)] left-[50%] translate-x-[-50%] translate-y-[-50%] ">
        <div class="flex justify-center items-center">
            <div class="text-[20px] font-bold p-[16px] bg-slate-300">
                <a href="{% url 'login-usuario' %}">Logar Usuario</a>
            </div>
            <div class="text-[20px] font-bold ml-[20px] p-[16px] bg-slate-300">
                <a href="{% url 'login-empresa' %}">Logar Empresa</a>
            </div>
        </div>
    </div>
</section>

{%endblock%}