{% extends 'base.html' %}

{%block conteudo%}

<div class="min-h-[calc(100vh-90px-20vh)] flex items-center">
    <div class="block p-[16px] bg-slate-300  m-auto">

        <div class="font-bold mb-[20px]">
            <a class="font-bold block hover:text-blue-800" href="{% url 'dashboard-empresa' %}">
                Dashboard
            </a>
        </div>

        <div class="font-bold mb-[20px] text-center">
            Minhas Vagas
        </div>

    </div> 
</div>

{%endblock%}

{%block scripts%}
<script>

    function reloadPage() {
        window.location.href = window.location.pathname + window.location.search + window.location.hash;
    }
    
</script>
{%endblock%}