{% extends 'base.html' %}

{%block conteudo%}

<div class="min-h-[calc(100vh-90px-20vh)] flex items-center">
    <div class="block p-[16px] bg-slate-300  m-auto">

        <div class="font-bold mb-[20px]">
            <a class="font-bold block hover:text-blue-800" href="{% url 'dashboard-empresa' %}">
                Dashboard
            </a>
        </div>

        <div class="font-bold mb-[20px] text-center">
            Minhas Vagas
        </div>


        {% if empresa.vagas.all.count > 0 %}
        <div class="mb-[10px]">
            {% for vaga in empresa.vagas.all %}        
                <div class="flex justify-between mb-[5px]">
                    <div>
                        {{ vaga.titulo }}  
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="cursor-pointer bg-yellow-600 rounded text-white leading-none p-[5px] ml-[5px]" hx-get="{% url 'ajax-editar-vaga' vaga.id %}" hx-target="#js-dialog">
                            {% include "pencil.html" %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-[10px]">
            <div class="text-white cursor-pointer w-fit p-[5px] bg-green-600" hx-get="{% url 'ajax-adicionar-vaga' %}" hx-target="#js-dialog">
                <div class="flex">
                    <div>
                        Adicionar Vaga
                    </div>
                    <div class="bg-green-600 rounded text-white leading-none p-[5px] ml-[5px]">
                        {% include "plus.html" %}
                    </div>
                </div>
            </div>
        </div>

    </div> 
</div>

{%endblock%}

{%block scripts%}
<script>

    function reloadPage() {
        window.location.href = window.location.pathname + window.location.search + window.location.hash;
    }

    htmx.on("vagaListChanged", (e) => {
        reloadPage();
    });
    
</script>
{%endblock%}