{% extends 'base.html' %}

{%block conteudo%}


<div class="min-h-[calc(100vh-90px-20vh)] flex items-center">
    <div class="block p-[16px] bg-slate-300  m-auto">

        <div class="font-bold mb-[20px] text-center">
            CURRÍCULO
        </div>

        <div>
            {{ usuario }}
        </div>

        <div>
            
        </div>

        <button hx-get="{% url 'ajax-adicionar-endereco' %}" hx-target="#js-dialog">
            Editar Endereco
        </button>

    </div> 
</div>

{%endblock%}