{% extends 'base.html' %}

{%block conteudo%}


<div class="min-h-[calc(100vh-90px-20vh)] flex items-center">
    <div class="block p-[16px] bg-slate-300  m-auto">

        <div class="font-bold mb-[20px] text-center">
            CURRÍCULO
        </div>

        <div>
            <div class="flex justify-center">
                <div>
                    Endereço:   
                </div>
                <div class="ml-[5px]">
                    {{ usuario.curriculo.endereco.rua }}   
                </div>
                <div class="ml-[10px]">
                    {{ usuario.curriculo.endereco.bairro }}   
                </div>
                <div class="ml-[10px]">
                    {{ usuario.curriculo.endereco.cidade }}   
                </div>
                <div class="ml-[10px]">
                    {{ usuario.curriculo.endereco.estado }}   
                </div>
            </div>
            <div class="cursor-point w-fit text-right p-[5px] bg-green-300" hx-get="{% url 'ajax-adicionar-endereco' %}" hx-target="#js-dialog">
                Editar Endereco
            </div>
        </div>

    </div> 
</div>

{%endblock%}