{% extends 'base.html' %}

{%block conteudo%}

<div class="min-h-[calc(100vh-90px-20vh)] flex items-center">
    <div class="block p-[16px] bg-slate-300  m-auto">

        <div class="font-bold mb-[20px] flex">
            <a class="font-bold block hover:text-blue-800" href="{% url 'dashboard-empresa' %}">
                Dashboard
            </a>
            <a class="font-bold block hover:text-blue-800 ml-[5px]" href="{% url 'minhas-vagas' %}">
                Minhas Vagas
            </a>
        </div>

        <div class="font-bold mb-[20px] text-center">
            VAGA
        </div>

        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Título: 
            </div>
            <div class="ml-[5px]">
                {{ vaga.titulo }}
            </div>
        </div>

        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Categorias: 
            </div>
            <div class="ml-[5px]">
                {% if vaga.categoria.all.count > 0 %}
                    {% for categoria in vaga.categoria.all %}  
                        {% if forloop.first %}
                            {{ categoria }}
                        {% else %}
                            , {{ categoria }}
                        {% endif %}
                    {% endfor %} 
                {% else %}
                    Sem Categoria
                {% endif %}
            </div>
        </div>

        <div class="flex justify-left mb-[5px]">
            <div class="font-bold">
                Descrição: 
            </div>
            <div class="ml-[5px]">
                {{ vaga.descricao }}
            </div>
        </div>

        <div class="font-bold mb-[20px] text-center mt-[20px]">
            APLICAÇÕES
        </div>

        {% if usuarios %}
            <table class="border-collapse table-fixed w-full bg-slate-100 max-w-[300px]">
                <thead>
                    <tr class="border-[2px] border-solid border-[#000]">
                        <th class="border border-solid border-[#000] font-medium p-4 text-left">Nome</th>
                        <th class="border border-solid border-[#000] font-medium p-4 text-left">Currículo</th>
                    </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}   
                <tr>
                    <td class="border border-solid border-[#000] p-4">{{ usuario.nome }} {{ usuario.sobrenome }}</td>
                    <td class="border border-solid border-[#000] p-4">
                        <div class="cursor-pointer bg-yellow-600 text-white leading-none p-[5px]" hx-get="{% url 'ajax-ver-curriculo' usuario.curriculo_id %}" hx-target="#js-dialog">
                            Curriculo
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                Não há aplicações para a vaga.
            </div>
        {% endif %}

    </div> 
</div>

{%endblock%}