{% extends 'base.html' %}

{%block conteudo%}

<div class="min-h-[calc(100vh-90px-20vh)] flex items-center">
    <div class="block p-[16px] bg-slate-300 m-auto max-w-[1000px]">

        <div class="font-bold mb-[20px]">
            <a class="italic font-bold block hover:text-blue-800" href="{% url 'dashboard-usuario' %}">
                Dashboard
            </a>
        </div>

        <div class="font-bold mb-[20px] text-center">
            VAGAS
        </div>

        {% if vagas.all.count > 0 %}
            <table class="border-collapse table-fixed w-full bg-slate-100">
                <thead>
                    <tr class="border-[2px] border-solid border-[#000]">
                        <th class="w-[50px] border border-solid border-[#000] font-medium p-4 text-center">ID</th>
                        <th class="border border-solid border-[#000] font-medium p-4 text-left">Título</th>
                        <th class="border border-solid border-[#000] font-medium p-4 text-left">Categorias</th>
                        <th class="border border-solid border-[#000] font-medium p-4 text-left">Visualizar</th>
                        <th class="border border-solid border-[#000] font-medium p-4 text-left">Apliquei?</th>
                        <th class="border border-solid border-[#000] font-medium p-4 text-left">Resultado</th>
                        <th class="border border-solid border-[#000] font-medium p-4 text-left">Concluída</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vaga in vagas %}   
                    <tr>
                        <td class="border border-solid border-[#000] p-4">{{ vaga.id }}</td>
                        <td class="border border-solid border-[#000] p-4">{{ vaga.titulo }}</td>
                        <td class="border border-solid border-[#000] p-4">
                            {% if vaga.categoria.all.count > 0 %}
                                {% for categoria in vaga.categoria.all %}  
                                    {% if forloop.first %}
                                        {{ categoria }}
                                    {% else %}
                                        , {{ categoria }}
                                    {% endif %}
                                {% endfor %} 
                            {% else %}
                                Sem Categoria
                            {% endif %}
                        </td>
                        <td class="border border-solid border-[#000] p-4">
                            <a class="block bg-blue-500 text-white rounded-[5em] text-center p-[5px]" href="{% url 'vaga' vaga.id %}">
                                Ver
                            </a>
                        </td>
                        <td class="border border-solid border-[#000] p-4">
                            {% if vaga.has_vaga == True %}
                                <div class="bg-green-400 text-black rounded-[10em] text-center p-[10px]">
                                    SIM
                                </div>
                            {% else %}
                                <div class="bg-red-300 text-black rounded-[10em] text-center p-[10px]">
                                    NÃO
                                </div>
                            {% endif %}
                        </td>
                        <td class="border border-solid border-[#000] p-4">
                            {% if vaga.result == 'AC' %}
                                <div class="bg-green-600 text-white rounded-[10em] text-center p-[10px]">
                                    Aprovado
                                </div>
                            {% elif vaga.result == 'RJ' %}
                                <div class="bg-red-600 text-white rounded-[10em] text-center p-[10px]">
                                    Rejeitado
                                </div>
                            {% elif vaga.result == 'AN' %}
                                <div class="bg-yellow-600 text-white rounded-[10em] text-center p-[10px]">
                                    Analisando
                                </div>
                            {% else %}
                                <div class="bg-gray-300 text-black rounded-[10em] text-center p-[10px] whitespace-nowrap">
                                    Não aplicado
                                </div>        
                            {% endif %}
                        </td>
                        <td class="border border-solid border-[#000] p-4">
                            {% if vaga.concluida == True %}
                                <div class="bg-green-400 text-black rounded-[10em] text-center p-[10px]">
                                    SIM
                                </div>
                            {% else %}
                                <div class="bg-red-300 text-black rounded-[10em] text-center p-[10px]">
                                    NÃO
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            SEM VAGAS DISPONÍVEIS
        {% endif %}

    </div> 
</div>


{%endblock%}